.App {
  text-align: center;
}

.converter {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.converter input {
  width: 200px;
  padding: 15px;
  font-size: 18px;
  text-align: center;
}

.rgb {
  width: 204px;
  margin-top: 5px;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}